nifi_flows/Face_Indexing.json
{"flowContents":{"identifier":"66a9ad7d-91b9-3ede-8815-88a60c8aabdd","name":"Face Indexing 0.2.0","comments":"","position":{"x":-8.0,"y":384.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"115ddda3-2c74-3f3f-8aab-8afcb7da08cc","name":"FetchFile","comments":"","position":{"x":344.0,"y":432.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.15.2"},"style":{},"type":"org.apache.nifi.processors.standard.FetchFile","properties":{"Move Conflict Strategy":"Rename","Log level when file not found":"ERROR","Move Destination Directory":null,"Log level when permission denied":"ERROR","File to Fetch":"${absolute.path}/${filename}","Completion Strategy":"None"},"propertyDescriptors":{"Move Conflict Strategy":{"name":"Move Conflict Strategy","displayName":"Move Conflict Strategy","identifiesControllerService":false,"sensitive":false},"Log level when file not found":{"name":"Log level when file not found","displayName":"Log level when file not found","identifiesControllerService":false,"sensitive":false},"Move Destination Directory":{"name":"Move Destination Directory","displayName":"Move Destination Directory","identifiesControllerService":false,"sensitive":false},"Log level when permission denied":{"name":"Log level when permission denied","displayName":"Log level when permission denied","identifiesControllerService":false,"sensitive":false},"File to Fetch":{"name":"File to Fetch","displayName":"File to Fetch","identifiesControllerService":false,"sensitive":false},"Completion Strategy":{"name":"Completion Strategy","displayName":"Completion Strategy","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure","permission.denied","not.found"],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"66a9ad7d-91b9-3ede-8815-88a60c8aabdd"},{"identifier":"42f521ff-20e6-367b-a4eb-cbd88862b656","name":"EvaluateJsonPath","comments":"","position":{"x":-80.0,"y":1248.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.15.2"},"style":{},"type":"org.apache.nifi.processors.standard.EvaluateJsonPath","properties":{"Destination":"flowfile-content","Return Type":"json","Null Value Representation":"empty string","JsonPath":"$.empty_results","Path Not Found Behavior":"ignore"},"propertyDescriptors":{"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false},"Return Type":{"name":"Return Type","displayName":"Return Type","identifiesControllerService":false,"sensitive":false},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false},"JsonPath":{"name":"JsonPath","displayName":"JsonPath","identifiesControllerService":false,"sensitive":false},"Path Not Found Behavior":{"name":"Path Not Found Behavior","displayName":"Path Not Found Behavior","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure","unmatched"],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"66a9ad7d-91b9-3ede-8815-88a60c8aabdd"},{"identifier":"8f27f2b9-aebb-3286-96e9-cf16049f1390","name":"SplitJson","comments":"","position":{"x":336.0,"y":624.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.15.2"},"style":{},"type":"org.apache.nifi.processors.standard.SplitJson","properties":{"Null Value Representation":"empty string","JsonPath Expression":"$"},"propertyDescriptors":{"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false},"JsonPath Expression":{"name":"JsonPath Expression","displayName":"JsonPath Expression","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","failure"],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"66a9ad7d-91b9-3ede-8815-88a60c8aabdd"},{"identifier":"c0ad218c-a3f2-30b2-bcd1-8dcc9894da4b","name":"MergeRecord","comments":"","position":{"x":360.0,"y":800.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.15.2"},"style":{},"type":"org.apache.nifi.processors.standard.MergeRecord","properties":{"max-bin-age":"300000 millis","correlation-attribute-name":null,"Attribute Strategy":"Keep Only Common Attributes","min-records":"50","max-bin-size":"1 TB","record-writer":"086fe902-05eb-380b-bf17-8f0a6233d761","merge-strategy":"Bin-Packing Algorithm","record-reader":"81a0746b-3888-3207-9f12-d428bb82d863","max-records":"50","min-bin-size":"0 MB","max.bin.count":"4"},"propertyDescriptors":{"max-bin-age":{"name":"max-bin-age","displayName":"Max Bin Age","identifiesControllerService":false,"sensitive":false},"correlation-attribute-name":{"name":"correlation-attribute-name","displayName":"Correlation Attribute Name","identifiesControllerService":false,"sensitive":false},"Attribute Strategy":{"name":"Attribute Strategy","displayName":"Attribute Strategy","identifiesControllerService":false,"sensitive":false},"min-records":{"name":"min-records","displayName":"Minimum Number of Records","identifiesControllerService":false,"sensitive":false},"max-bin-size":{"name":"max-bin-size","displayName":"Maximum Bin Size","identifiesControllerService":false,"sensitive":false},"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false},"merge-strategy":{"name":"merge-strategy","displayName":"Merge Strategy","identifiesControllerService":false,"sensitive":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false},"max-records":{"name":"max-records","displayName":"Maximum Number of Records","identifiesControllerService":false,"sensitive":false},"min-bin-size":{"name":"min-bin-size","displayName":"Minimum Bin Size","identifiesControllerService":false,"sensitive":false},"max.bin.count":{"name":"max.bin.count","displayName":"Maximum Number of Bins","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","failure"],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"66a9ad7d-91b9-3ede-8815-88a60c8aabdd"},{"identifier":"b9c23a77-0ae2-33e1-91b9-0d96caa71d37","name":"ListFile","comments":"","position":{"x":352.0,"y":240.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.15.2"},"style":{},"type":"org.apache.nifi.processors.standard.ListFile","properties":{"Minimum File Age":"0 sec","et-initial-listing-target":"all","Maximum File Age":null,"max-listing-time":"3 mins","record-writer":null,"Maximum File Size":null,"et-time-window":"3 hours","et-node-identifier":"${hostname()}","Recurse Subdirectories":"true","File Filter":"[^\\.].*","Path Filter":null,"Include File Attributes":"true","Input Directory Location":"Local","listing-strategy":"timestamps","Input Directory":"/home/ahmed/projects/face_search/test_json1","target-system-timestamp-precision":"auto-detect","track-performance":"false","max-performance-metrics":"100000","Minimum File Size":"0 B","Ignore Hidden Files":"true","et-state-cache":null,"max-operation-time":"10 secs"},"propertyDescriptors":{"Minimum File Age":{"name":"Minimum File Age","displayName":"Minimum File Age","identifiesControllerService":false,"sensitive":false},"et-initial-listing-target":{"name":"et-initial-listing-target","displayName":"Entity Tracking Initial Listing Target","identifiesControllerService":false,"sensitive":false},"Maximum File Age":{"name":"Maximum File Age","displayName":"Maximum File Age","identifiesControllerService":false,"sensitive":false},"max-listing-time":{"name":"max-listing-time","displayName":"Max Directory Listing Time","identifiesControllerService":false,"sensitive":false},"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false},"Maximum File Size":{"name":"Maximum File Size","displayName":"Maximum File Size","identifiesControllerService":false,"sensitive":false},"et-time-window":{"name":"et-time-window","displayName":"Entity Tracking Time Window","identifiesControllerService":false,"sensitive":false},"et-node-identifier":{"name":"et-node-identifier","displayName":"Entity Tracking Node Identifier","identifiesControllerService":false,"sensitive":false},"Recurse Subdirectories":{"name":"Recurse Subdirectories","displayName":"Recurse Subdirectories","identifiesControllerService":false,"sensitive":false},"File Filter":{"name":"File Filter","displayName":"File Filter","identifiesControllerService":false,"sensitive":false},"Path Filter":{"name":"Path Filter","displayName":"Path Filter","identifiesControllerService":false,"sensitive":false},"Include File Attributes":{"name":"Include File Attributes","displayName":"Include File Attributes","identifiesControllerService":false,"sensitive":false},"Input Directory Location":{"name":"Input Directory Location","displayName":"Input Directory Location","identifiesControllerService":false,"sensitive":false},"listing-strategy":{"name":"listing-strategy","displayName":"Listing Strategy","identifiesControllerService":false,"sensitive":false},"Input Directory":{"name":"Input Directory","displayName":"Input Directory","identifiesControllerService":false,"sensitive":false},"target-system-timestamp-precision":{"name":"target-system-timestamp-precision","displayName":"Target System Timestamp Precision","identifiesControllerService":false,"sensitive":false},"track-performance":{"name":"track-performance","displayName":"Track Performance","identifiesControllerService":false,"sensitive":false},"max-performance-metrics":{"name":"max-performance-metrics","displayName":"Maximum Number of Files to Track","identifiesControllerService":false,"sensitive":false},"Minimum File Size":{"name":"Minimum File Size","displayName":"Minimum File Size","identifiesControllerService":false,"sensitive":false},"Ignore Hidden Files":{"name":"Ignore Hidden Files","displayName":"Ignore Hidden Files","identifiesControllerService":false,"sensitive":false},"et-state-cache":{"name":"et-state-cache","displayName":"Entity Tracking State Cache","identifiesControllerService":true,"sensitive":false},"max-operation-time":{"name":"max-operation-time","displayName":"Max Disk Operation Time","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"66a9ad7d-91b9-3ede-8815-88a60c8aabdd"},{"identifier":"b227d56a-f543-3c60-868c-5c9322b76cd3","name":"ExecuteStreamCommand","comments":"","position":{"x":392.0,"y":968.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.15.2"},"style":{},"type":"org.apache.nifi.processors.standard.ExecuteStreamCommand","properties":{"argumentsStrategy":"Command Arguments Property","Max Attribute Length":"256","Command Path":"/home/ahmed/projects/face_search/encode_faces.sh","Working Directory":"/home/ahmed/projects/face_search","Output Destination Attribute":null,"Argument Delimiter":";","Ignore STDIN":"false","Command Arguments":""},"propertyDescriptors":{"argumentsStrategy":{"name":"argumentsStrategy","displayName":"Command Arguments Strategy","identifiesControllerService":false,"sensitive":false},"Max Attribute Length":{"name":"Max Attribute Length","displayName":"Max Attribute Length","identifiesControllerService":false,"sensitive":false},"Command Path":{"name":"Command Path","displayName":"Command Path","identifiesControllerService":false,"sensitive":false},"Working Directory":{"name":"Working Directory","displayName":"Working Directory","identifiesControllerService":false,"sensitive":false},"Output Destination Attribute":{"name":"Output Destination Attribute","displayName":"Output Destination Attribute","identifiesControllerService":false,"sensitive":false},"Argument Delimiter":{"name":"Argument Delimiter","displayName":"Argument Delimiter","identifiesControllerService":false,"sensitive":false},"Ignore STDIN":{"name":"Ignore STDIN","displayName":"Ignore STDIN","identifiesControllerService":false,"sensitive":false},"Command Arguments":{"name":"Command Arguments","displayName":"Command Arguments","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","nonzero status"],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"66a9ad7d-91b9-3ede-8815-88a60c8aabdd"},{"identifier":"b069862e-555d-3076-a22d-c4e01c8b208e","name":"EvaluateJsonPath","comments":"","position":{"x":384.0,"y":1152.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.15.2"},"style":{},"type":"org.apache.nifi.processors.standard.EvaluateJsonPath","properties":{"Destination":"flowfile-content","Return Type":"json","Null Value Representation":"empty string","JsonPath":"$.results","Path Not Found Behavior":"ignore"},"propertyDescriptors":{"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false},"Return Type":{"name":"Return Type","displayName":"Return Type","identifiesControllerService":false,"sensitive":false},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false},"JsonPath":{"name":"JsonPath","displayName":"JsonPath","identifiesControllerService":false,"sensitive":false},"Path Not Found Behavior":{"name":"Path Not Found Behavior","displayName":"Path Not Found Behavior","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure","unmatched"],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"66a9ad7d-91b9-3ede-8815-88a60c8aabdd"},{"identifier":"955d36b9-a25d-37d8-8842-b150ed044188","name":"PutElasticsearchHttpRecord","comments":"","position":{"x":384.0,"y":1328.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-elasticsearch-nar","version":"1.15.2"},"style":{},"type":"org.apache.nifi.processors.elasticsearch.PutElasticsearchHttpRecord","properties":{"elasticsearch-http-response-timeout":"15 secs","put-es-record-log-all-errors":"true","put-es-record-record-reader":"81a0746b-3888-3207-9f12-d428bb82d863","put-es-record-index":"index_es_face","proxy-configuration-service":null,"put-es-record-type":null,"put-es-record-index-op":"upsert","elasticsearch-http-url":"http://localhost:9200/","put-es-record-id-path":"/id","Timestamp Format":null,"put-es-record-record-writer":null,"Date Format":null,"SSL Context Service":null,"elasticsearch-http-connect-timeout":"5 secs","Username":"elastic","suppress-nulls":"never-suppress","elasticsearch-http-proxy-host":null,"proxy-username":null,"put-es-record-at-timestamp":null,"Time Format":null,"elasticsearch-http-proxy-port":null,"put-es-record-at-timestamp-path":null,"Character Set":"UTF-8"},"propertyDescriptors":{"elasticsearch-http-response-timeout":{"name":"elasticsearch-http-response-timeout","displayName":"Response Timeout","identifiesControllerService":false,"sensitive":false},"proxy-configuration-service":{"name":"proxy-configuration-service","displayName":"Proxy Configuration Service","identifiesControllerService":true,"sensitive":false},"put-es-record-index-op":{"name":"put-es-record-index-op","displayName":"Index Operation","identifiesControllerService":false,"sensitive":false},"elasticsearch-http-url":{"name":"elasticsearch-http-url","displayName":"Elasticsearch URL","identifiesControllerService":false,"sensitive":false},"put-es-record-record-writer":{"name":"put-es-record-record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false},"elasticsearch-http-connect-timeout":{"name":"elasticsearch-http-connect-timeout","displayName":"Connection Timeout","identifiesControllerService":false,"sensitive":false},"suppress-nulls":{"name":"suppress-nulls","displayName":"Suppress Null Values","identifiesControllerService":false,"sensitive":false},"elasticsearch-http-proxy-host":{"name":"elasticsearch-http-proxy-host","displayName":"Proxy Host","identifiesControllerService":false,"sensitive":false},"proxy-username":{"name":"proxy-username","displayName":"Proxy Username","identifiesControllerService":false,"sensitive":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false},"Password":{"name":"Password","displayName":"Password","identifiesControllerService":false,"sensitive":true},"put-es-record-log-all-errors":{"name":"put-es-record-log-all-errors","displayName":"Log all errors in batch","identifiesControllerService":false,"sensitive":false},"put-es-record-record-reader":{"name":"put-es-record-record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false},"put-es-record-index":{"name":"put-es-record-index","displayName":"Index","identifiesControllerService":false,"sensitive":false},"put-es-record-type":{"name":"put-es-record-type","displayName":"Type","identifiesControllerService":false,"sensitive":false},"put-es-record-id-path":{"name":"put-es-record-id-path","displayName":"Identifier Record Path","identifiesControllerService":false,"sensitive":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"Username":{"name":"Username","displayName":"Username","identifiesControllerService":false,"sensitive":false},"put-es-record-at-timestamp":{"name":"put-es-record-at-timestamp","displayName":"@timestamp Value","identifiesControllerService":false,"sensitive":false},"proxy-password":{"name":"proxy-password","displayName":"Proxy Password","identifiesControllerService":false,"sensitive":true},"elasticsearch-http-proxy-port":{"name":"elasticsearch-http-proxy-port","displayName":"Proxy Port","identifiesControllerService":false,"sensitive":false},"put-es-record-at-timestamp-path":{"name":"put-es-record-at-timestamp-path","displayName":"@timestamp Record Path","identifiesControllerService":false,"sensitive":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["retry"],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"66a9ad7d-91b9-3ede-8815-88a60c8aabdd"}],"inputPorts":[],"outputPorts":[{"identifier":"1d41aee2-d427-3853-a155-0d06c85a9bba","name":"output","comments":"","position":{"x":400.0,"y":1600.0},"type":"OUTPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"ENABLED","allowRemoteAccess":false,"componentType":"OUTPUT_PORT","groupIdentifier":"66a9ad7d-91b9-3ede-8815-88a60c8aabdd"}],"connections":[{"identifier":"e95d803c-4f85-3ea3-ae4d-7c64f1e9ddc3","name":"","source":{"id":"955d36b9-a25d-37d8-8842-b150ed044188","type":"PROCESSOR","groupId":"66a9ad7d-91b9-3ede-8815-88a60c8aabdd","name":"PutElasticsearchHttpRecord","comments":""},"destination":{"id":"955d36b9-a25d-37d8-8842-b150ed044188","type":"PROCESSOR","groupId":"66a9ad7d-91b9-3ede-8815-88a60c8aabdd","name":"PutElasticsearchHttpRecord","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":853.0,"y":1367.0},{"x":853.0,"y":1417.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"66a9ad7d-91b9-3ede-8815-88a60c8aabdd"},{"identifier":"a0cc3293-2599-3e7c-83c1-90eaaa8dcaa7","name":"","source":{"id":"b227d56a-f543-3c60-868c-5c9322b76cd3","type":"PROCESSOR","groupId":"66a9ad7d-91b9-3ede-8815-88a60c8aabdd","name":"ExecuteStreamCommand","comments":""},"destination":{"id":"42f521ff-20e6-367b-a4eb-cbd88862b656","type":"PROCESSOR","groupId":"66a9ad7d-91b9-3ede-8815-88a60c8aabdd","name":"EvaluateJsonPath","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["output stream"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"66a9ad7d-91b9-3ede-8815-88a60c8aabdd"},{"identifier":"31e64c80-d0fb-3879-a43a-920171573314","name":"","source":{"id":"115ddda3-2c74-3f3f-8aab-8afcb7da08cc","type":"PROCESSOR","groupId":"66a9ad7d-91b9-3ede-8815-88a60c8aabdd","name":"FetchFile","comments":""},"destination":{"id":"8f27f2b9-aebb-3286-96e9-cf16049f1390","type":"PROCESSOR","groupId":"66a9ad7d-91b9-3ede-8815-88a60c8aabdd","name":"SplitJson","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"66a9ad7d-91b9-3ede-8815-88a60c8aabdd"},{"identifier":"bb44a5e0-85bf-30b4-9c79-6f713229152b","name":"","source":{"id":"b069862e-555d-3076-a22d-c4e01c8b208e","type":"PROCESSOR","groupId":"66a9ad7d-91b9-3ede-8815-88a60c8aabdd","name":"EvaluateJsonPath","comments":""},"destination":{"id":"955d36b9-a25d-37d8-8842-b150ed044188","type":"PROCESSOR","groupId":"66a9ad7d-91b9-3ede-8815-88a60c8aabdd","name":"PutElasticsearchHttpRecord","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"66a9ad7d-91b9-3ede-8815-88a60c8aabdd"},{"identifier":"80347b75-00d9-3333-ac21-564a4d06f4e4","name":"","source":{"id":"c0ad218c-a3f2-30b2-bcd1-8dcc9894da4b","type":"PROCESSOR","groupId":"66a9ad7d-91b9-3ede-8815-88a60c8aabdd","name":"MergeRecord","comments":""},"destination":{"id":"b227d56a-f543-3c60-868c-5c9322b76cd3","type":"PROCESSOR","groupId":"66a9ad7d-91b9-3ede-8815-88a60c8aabdd","name":"ExecuteStreamCommand","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["merged"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"66a9ad7d-91b9-3ede-8815-88a60c8aabdd"},{"identifier":"4ceb0cae-70ec-3712-bc0d-67263838390c","name":"","source":{"id":"42f521ff-20e6-367b-a4eb-cbd88862b656","type":"PROCESSOR","groupId":"66a9ad7d-91b9-3ede-8815-88a60c8aabdd","name":"EvaluateJsonPath","comments":""},"destination":{"id":"1d41aee2-d427-3853-a155-0d06c85a9bba","type":"OUTPUT_PORT","groupId":"66a9ad7d-91b9-3ede-8815-88a60c8aabdd","name":"output","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"66a9ad7d-91b9-3ede-8815-88a60c8aabdd"},{"identifier":"56d301d1-60f5-3277-8f6d-1d8d538a6c63","name":"","source":{"id":"b9c23a77-0ae2-33e1-91b9-0d96caa71d37","type":"PROCESSOR","groupId":"66a9ad7d-91b9-3ede-8815-88a60c8aabdd","name":"ListFile","comments":""},"destination":{"id":"115ddda3-2c74-3f3f-8aab-8afcb7da08cc","type":"PROCESSOR","groupId":"66a9ad7d-91b9-3ede-8815-88a60c8aabdd","name":"FetchFile","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"66a9ad7d-91b9-3ede-8815-88a60c8aabdd"},{"identifier":"cd03d890-e5e3-3a8b-a7d8-895b4d35e8b7","name":"","source":{"id":"8f27f2b9-aebb-3286-96e9-cf16049f1390","type":"PROCESSOR","groupId":"66a9ad7d-91b9-3ede-8815-88a60c8aabdd","name":"SplitJson","comments":""},"destination":{"id":"c0ad218c-a3f2-30b2-bcd1-8dcc9894da4b","type":"PROCESSOR","groupId":"66a9ad7d-91b9-3ede-8815-88a60c8aabdd","name":"MergeRecord","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["split"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"66a9ad7d-91b9-3ede-8815-88a60c8aabdd"},{"identifier":"7a54104d-8e9f-3b7b-8dcc-03011cc3433c","name":"","source":{"id":"b227d56a-f543-3c60-868c-5c9322b76cd3","type":"PROCESSOR","groupId":"66a9ad7d-91b9-3ede-8815-88a60c8aabdd","name":"ExecuteStreamCommand","comments":""},"destination":{"id":"b069862e-555d-3076-a22d-c4e01c8b208e","type":"PROCESSOR","groupId":"66a9ad7d-91b9-3ede-8815-88a60c8aabdd","name":"EvaluateJsonPath","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["output stream"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"66a9ad7d-91b9-3ede-8815-88a60c8aabdd"},{"identifier":"d8420d1f-cf98-3a79-8c7a-c21cc9a7329b","name":"","source":{"id":"955d36b9-a25d-37d8-8842-b150ed044188","type":"PROCESSOR","groupId":"66a9ad7d-91b9-3ede-8815-88a60c8aabdd","name":"PutElasticsearchHttpRecord","comments":""},"destination":{"id":"1d41aee2-d427-3853-a155-0d06c85a9bba","type":"OUTPUT_PORT","groupId":"66a9ad7d-91b9-3ede-8815-88a60c8aabdd","name":"output","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"66a9ad7d-91b9-3ede-8815-88a60c8aabdd"}],"labels":[],"funnels":[],"controllerServices":[{"identifier":"086fe902-05eb-380b-bf17-8f0a6233d761","name":"JsonRecordSetWriter","comments":"","type":"org.apache.nifi.json.JsonRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.15.2"},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.15.2"}}],"properties":{"schema-branch":null,"compression-level":"1","schema-cache":null,"Timestamp Format":null,"Date Format":null,"Pretty Print JSON":"false","compression-format":"none","Schema Write Strategy":"no-schema","suppress-nulls":"never-suppress","output-grouping":"output-array","schema-name":"${schema.name}","schema-registry":null,"Time Format":null,"schema-access-strategy":"inherit-record-schema","schema-protocol-version":"1","schema-version":null,"schema-text":"${avro.schema}"},"propertyDescriptors":{"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false},"compression-level":{"name":"compression-level","displayName":"Compression Level","identifiesControllerService":false,"sensitive":false},"schema-cache":{"name":"schema-cache","displayName":"Schema Cache","identifiesControllerService":true,"sensitive":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false},"Pretty Print JSON":{"name":"Pretty Print JSON","displayName":"Pretty Print JSON","identifiesControllerService":false,"sensitive":false},"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false},"Schema Write Strategy":{"name":"Schema Write Strategy","displayName":"Schema Write Strategy","identifiesControllerService":false,"sensitive":false},"suppress-nulls":{"name":"suppress-nulls","displayName":"Suppress Null Values","identifiesControllerService":false,"sensitive":false},"output-grouping":{"name":"output-grouping","displayName":"Output Grouping","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"schema-protocol-version":{"name":"schema-protocol-version","displayName":"Schema Protocol Version","identifiesControllerService":false,"sensitive":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false}},"componentType":"CONTROLLER_SERVICE","groupIdentifier":"66a9ad7d-91b9-3ede-8815-88a60c8aabdd"},{"identifier":"81a0746b-3888-3207-9f12-d428bb82d863","name":"JsonTreeReader","comments":"","type":"org.apache.nifi.json.JsonTreeReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.15.2"},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.15.2"}}],"properties":{"Timestamp Format":null,"schema-inference-cache":null,"Date Format":null,"schema-branch":null,"schema-name":"${schema.name}","schema-registry":"c87fb526-1174-3979-9b67-1cf618302fdd","Time Format":null,"schema-access-strategy":"infer-schema","schema-version":null,"schema-text":"${avro.schema}"},"propertyDescriptors":{"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false},"schema-inference-cache":{"name":"schema-inference-cache","displayName":"Schema Inference Cache","identifiesControllerService":true,"sensitive":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false}},"componentType":"CONTROLLER_SERVICE","groupIdentifier":"66a9ad7d-91b9-3ede-8815-88a60c8aabdd"},{"identifier":"c87fb526-1174-3979-9b67-1cf618302fdd","name":"AvroSchemaRegistry","comments":"","type":"org.apache.nifi.schemaregistry.services.AvroSchemaRegistry","bundle":{"group":"org.apache.nifi","artifact":"nifi-registry-nar","version":"1.15.2"},"controllerServiceApis":[{"type":"org.apache.nifi.schemaregistry.services.SchemaRegistry","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.15.2"}}],"properties":{"avro-reg-validated-field-names":"true"},"propertyDescriptors":{"avro-reg-validated-field-names":{"name":"avro-reg-validated-field-names","displayName":"Validate Field Names","identifiesControllerService":false,"sensitive":false}},"componentType":"CONTROLLER_SERVICE","groupIdentifier":"66a9ad7d-91b9-3ede-8815-88a60c8aabdd"}],"variables":{},"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","componentType":"PROCESS_GROUP","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE"},"externalControllerServices":{},"parameterContexts":{},"flowEncodingVersion":"1.0"}