nifi_flows/api_flow/face_api.json
{"flowContents":{"identifier":"e4bece42-2099-3f05-9c8e-cd562b27660d","name":"face_Image_search_test","comments":"","position":{"x":-448.0,"y":392.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"a3ab5ede-9592-333d-9d0c-9132dfdbe3d5","name":"RouteOnAttribute","comments":"","position":{"x":1221.9999726858955,"y":491.0000085519532},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.15.2"},"style":{},"type":"org.apache.nifi.processors.standard.RouteOnAttribute","properties":{"Routing Strategy":"Route to Property name","post-method":"${http.method:isEmpty():not():and(${http.method:equals(\"POST\")})}","option-method":"${http.method:isEmpty():not():and(${http.method:equals(\"OPTIONS\")})}"},"propertyDescriptors":{"Routing Strategy":{"name":"Routing Strategy","displayName":"Routing Strategy","identifiesControllerService":false,"sensitive":false},"post-method":{"name":"post-method","displayName":"post-method","identifiesControllerService":false,"sensitive":false},"option-method":{"name":"option-method","displayName":"option-method","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"e4bece42-2099-3f05-9c8e-cd562b27660d"},{"identifier":"479fd026-fcf3-302e-83fb-672529d731e4","name":"HandleHttpResponse","comments":"","position":{"x":582.9999694824218,"y":1000.9999961853028},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.15.2"},"style":{},"type":"org.apache.nifi.processors.standard.HandleHttpResponse","properties":{"HTTP Context Map":"20d72027-c48b-359b-9786-44ecb8e9f14d","Attributes to add to the HTTP Response (Regex)":null,"HTTP Status Code":"400"},"propertyDescriptors":{"HTTP Context Map":{"name":"HTTP Context Map","displayName":"HTTP Context Map","identifiesControllerService":true,"sensitive":false},"Attributes to add to the HTTP Response (Regex)":{"name":"Attributes to add to the HTTP Response (Regex)","displayName":"Attributes to add to the HTTP Response (Regex)","identifiesControllerService":false,"sensitive":false},"HTTP Status Code":{"name":"HTTP Status Code","displayName":"HTTP Status Code","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure"],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"e4bece42-2099-3f05-9c8e-cd562b27660d"},{"identifier":"496c0e47-4993-3c67-bcac-6b0a446068d0","name":"HandleHttpRequest","comments":"","position":{"x":1237.9999694824219,"y":257.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.15.2"},"style":{},"type":"org.apache.nifi.processors.standard.HandleHttpRequest","properties":{"multipart-request-max-size":"1 MB","parameters-to-attributes":null,"Allow POST":"true","Hostname":null,"Default URL Character Set":"UTF-8","Allow DELETE":"false","Additional HTTP Methods":null,"container-queue-size":"100","HTTP Context Map":"20d72027-c48b-359b-9786-44ecb8e9f14d","multipart-read-buffer-size":"512 KB","SSL Context Service":null,"Allow OPTIONS":"true","Allowed Paths":null,"Allow GET":"false","Allow HEAD":"false","Listening Port":"7002","Client Authentication":"No Authentication","Allow PUT":"false"},"propertyDescriptors":{"multipart-request-max-size":{"name":"multipart-request-max-size","displayName":"Multipart Request Max Size","identifiesControllerService":false,"sensitive":false},"parameters-to-attributes":{"name":"parameters-to-attributes","displayName":"Parameters to Attributes List","identifiesControllerService":false,"sensitive":false},"Allow POST":{"name":"Allow POST","displayName":"Allow POST","identifiesControllerService":false,"sensitive":false},"Hostname":{"name":"Hostname","displayName":"Hostname","identifiesControllerService":false,"sensitive":false},"Default URL Character Set":{"name":"Default URL Character Set","displayName":"Default URL Character Set","identifiesControllerService":false,"sensitive":false},"Allow DELETE":{"name":"Allow DELETE","displayName":"Allow DELETE","identifiesControllerService":false,"sensitive":false},"Additional HTTP Methods":{"name":"Additional HTTP Methods","displayName":"Additional HTTP Methods","identifiesControllerService":false,"sensitive":false},"container-queue-size":{"name":"container-queue-size","displayName":"Container Queue Size","identifiesControllerService":false,"sensitive":false},"HTTP Context Map":{"name":"HTTP Context Map","displayName":"HTTP Context Map","identifiesControllerService":true,"sensitive":false},"multipart-read-buffer-size":{"name":"multipart-read-buffer-size","displayName":"Multipart Read Buffer Size","identifiesControllerService":false,"sensitive":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"Allow OPTIONS":{"name":"Allow OPTIONS","displayName":"Allow OPTIONS","identifiesControllerService":false,"sensitive":false},"Allowed Paths":{"name":"Allowed Paths","displayName":"Allowed Paths","identifiesControllerService":false,"sensitive":false},"Allow GET":{"name":"Allow GET","displayName":"Allow GET","identifiesControllerService":false,"sensitive":false},"Allow HEAD":{"name":"Allow HEAD","displayName":"Allow HEAD","identifiesControllerService":false,"sensitive":false},"Listening Port":{"name":"Listening Port","displayName":"Listening Port","identifiesControllerService":false,"sensitive":false},"Client Authentication":{"name":"Client Authentication","displayName":"Client Authentication","identifiesControllerService":false,"sensitive":false},"Allow PUT":{"name":"Allow PUT","displayName":"Allow PUT","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"e4bece42-2099-3f05-9c8e-cd562b27660d"},{"identifier":"589bcc19-20c9-37bd-af72-7327dc3500e9","name":"ExecuteStreamCommand","comments":"","position":{"x":1296.0,"y":728.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.15.2"},"style":{},"type":"org.apache.nifi.processors.standard.ExecuteStreamCommand","properties":{"argumentsStrategy":"Command Arguments Property","Max Attribute Length":"256","Command Path":"/home/ahmed/projects/face_search/post_face_api.sh","Working Directory":"/home/ahmed/projects/face_search","Output Destination Attribute":null,"Argument Delimiter":";","Ignore STDIN":"false","Command Arguments":null},"propertyDescriptors":{"argumentsStrategy":{"name":"argumentsStrategy","displayName":"Command Arguments Strategy","identifiesControllerService":false,"sensitive":false},"Max Attribute Length":{"name":"Max Attribute Length","displayName":"Max Attribute Length","identifiesControllerService":false,"sensitive":false},"Command Path":{"name":"Command Path","displayName":"Command Path","identifiesControllerService":false,"sensitive":false},"Working Directory":{"name":"Working Directory","displayName":"Working Directory","identifiesControllerService":false,"sensitive":false},"Output Destination Attribute":{"name":"Output Destination Attribute","displayName":"Output Destination Attribute","identifiesControllerService":false,"sensitive":false},"Argument Delimiter":{"name":"Argument Delimiter","displayName":"Argument Delimiter","identifiesControllerService":false,"sensitive":false},"Ignore STDIN":{"name":"Ignore STDIN","displayName":"Ignore STDIN","identifiesControllerService":false,"sensitive":false},"Command Arguments":{"name":"Command Arguments","displayName":"Command Arguments","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original","nonzero status"],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"e4bece42-2099-3f05-9c8e-cd562b27660d"},{"identifier":"badf90a4-99fb-3f00-98c8-d72acd4d55ba","name":"HandleHttpResponse","comments":"","position":{"x":1234.9999694824219,"y":969.9999961853028},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.15.2"},"style":{},"type":"org.apache.nifi.processors.standard.HandleHttpResponse","properties":{"HTTP Context Map":"809fa0b8-66cc-3f51-b4e1-d2565df75fcf","Attributes to add to the HTTP Response (Regex)":null,"Access-Control-Allow-Origin":"*","Access-Control-Allow-Methods":"POST","HTTP Status Code":"200","Access-Control-Allow-Headers":"Content-Type"},"propertyDescriptors":{"HTTP Context Map":{"name":"HTTP Context Map","displayName":"HTTP Context Map","identifiesControllerService":true,"sensitive":false},"Attributes to add to the HTTP Response (Regex)":{"name":"Attributes to add to the HTTP Response (Regex)","displayName":"Attributes to add to the HTTP Response (Regex)","identifiesControllerService":false,"sensitive":false},"Access-Control-Allow-Origin":{"name":"Access-Control-Allow-Origin","displayName":"Access-Control-Allow-Origin","identifiesControllerService":false,"sensitive":false},"Access-Control-Allow-Methods":{"name":"Access-Control-Allow-Methods","displayName":"Access-Control-Allow-Methods","identifiesControllerService":false,"sensitive":false},"HTTP Status Code":{"name":"HTTP Status Code","displayName":"HTTP Status Code","identifiesControllerService":false,"sensitive":false},"Access-Control-Allow-Headers":{"name":"Access-Control-Allow-Headers","displayName":"Access-Control-Allow-Headers","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"e4bece42-2099-3f05-9c8e-cd562b27660d"},{"identifier":"7c1b68d2-7db2-3310-804c-47f5debf1587","name":"HandleHttpResponse","comments":"","position":{"x":568.0,"y":489.99999618530273},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.15.2"},"style":{},"type":"org.apache.nifi.processors.standard.HandleHttpResponse","properties":{"HTTP Context Map":"20d72027-c48b-359b-9786-44ecb8e9f14d","Attributes to add to the HTTP Response (Regex)":null,"Access-Control-Allow-Origin":"*","Access-Control-Allow-Methods":"POST","HTTP Status Code":"200","Access-Control-Allow-Headers":"Content-Type"},"propertyDescriptors":{"HTTP Context Map":{"name":"HTTP Context Map","displayName":"HTTP Context Map","identifiesControllerService":true,"sensitive":false},"Attributes to add to the HTTP Response (Regex)":{"name":"Attributes to add to the HTTP Response (Regex)","displayName":"Attributes to add to the HTTP Response (Regex)","identifiesControllerService":false,"sensitive":false},"Access-Control-Allow-Origin":{"name":"Access-Control-Allow-Origin","displayName":"Access-Control-Allow-Origin","identifiesControllerService":false,"sensitive":false},"Access-Control-Allow-Methods":{"name":"Access-Control-Allow-Methods","displayName":"Access-Control-Allow-Methods","identifiesControllerService":false,"sensitive":false},"HTTP Status Code":{"name":"HTTP Status Code","displayName":"HTTP Status Code","identifiesControllerService":false,"sensitive":false},"Access-Control-Allow-Headers":{"name":"Access-Control-Allow-Headers","displayName":"Access-Control-Allow-Headers","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"e4bece42-2099-3f05-9c8e-cd562b27660d"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"f5ff81b9-945d-3447-99d2-afd4eb3e90d0","name":"","source":{"id":"7c1b68d2-7db2-3310-804c-47f5debf1587","type":"PROCESSOR","groupId":"e4bece42-2099-3f05-9c8e-cd562b27660d","name":"HandleHttpResponse","comments":""},"destination":{"id":"479fd026-fcf3-302e-83fb-672529d731e4","type":"PROCESSOR","groupId":"e4bece42-2099-3f05-9c8e-cd562b27660d","name":"HandleHttpResponse","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"e4bece42-2099-3f05-9c8e-cd562b27660d"},{"identifier":"232516a5-63de-32e7-bb87-7fa4ab209c0c","name":"","source":{"id":"a3ab5ede-9592-333d-9d0c-9132dfdbe3d5","type":"PROCESSOR","groupId":"e4bece42-2099-3f05-9c8e-cd562b27660d","name":"RouteOnAttribute","comments":""},"destination":{"id":"589bcc19-20c9-37bd-af72-7327dc3500e9","type":"PROCESSOR","groupId":"e4bece42-2099-3f05-9c8e-cd562b27660d","name":"ExecuteStreamCommand","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["post-method"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"e4bece42-2099-3f05-9c8e-cd562b27660d"},{"identifier":"8f0e61e4-3629-3b07-aca7-2a6ef13a079c","name":"","source":{"id":"badf90a4-99fb-3f00-98c8-d72acd4d55ba","type":"PROCESSOR","groupId":"e4bece42-2099-3f05-9c8e-cd562b27660d","name":"HandleHttpResponse","comments":""},"destination":{"id":"479fd026-fcf3-302e-83fb-672529d731e4","type":"PROCESSOR","groupId":"e4bece42-2099-3f05-9c8e-cd562b27660d","name":"HandleHttpResponse","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"e4bece42-2099-3f05-9c8e-cd562b27660d"},{"identifier":"bcf74f95-bfaf-3437-9612-68e8ca2f630d","name":"","source":{"id":"589bcc19-20c9-37bd-af72-7327dc3500e9","type":"PROCESSOR","groupId":"e4bece42-2099-3f05-9c8e-cd562b27660d","name":"ExecuteStreamCommand","comments":""},"destination":{"id":"badf90a4-99fb-3f00-98c8-d72acd4d55ba","type":"PROCESSOR","groupId":"e4bece42-2099-3f05-9c8e-cd562b27660d","name":"HandleHttpResponse","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["output stream"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"e4bece42-2099-3f05-9c8e-cd562b27660d"},{"identifier":"42d2adb1-369b-3fe1-a13f-8dfccf6e6f75","name":"","source":{"id":"a3ab5ede-9592-333d-9d0c-9132dfdbe3d5","type":"PROCESSOR","groupId":"e4bece42-2099-3f05-9c8e-cd562b27660d","name":"RouteOnAttribute","comments":""},"destination":{"id":"7c1b68d2-7db2-3310-804c-47f5debf1587","type":"PROCESSOR","groupId":"e4bece42-2099-3f05-9c8e-cd562b27660d","name":"HandleHttpResponse","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["option-method"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"e4bece42-2099-3f05-9c8e-cd562b27660d"},{"identifier":"4b0b0b6f-5953-3ab0-bf75-fd6402b8f403","name":"","source":{"id":"496c0e47-4993-3c67-bcac-6b0a446068d0","type":"PROCESSOR","groupId":"e4bece42-2099-3f05-9c8e-cd562b27660d","name":"HandleHttpRequest","comments":""},"destination":{"id":"a3ab5ede-9592-333d-9d0c-9132dfdbe3d5","type":"PROCESSOR","groupId":"e4bece42-2099-3f05-9c8e-cd562b27660d","name":"RouteOnAttribute","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"e4bece42-2099-3f05-9c8e-cd562b27660d"},{"identifier":"0da712a8-2fc4-3ae6-9b27-b9d859352c2f","name":"","source":{"id":"a3ab5ede-9592-333d-9d0c-9132dfdbe3d5","type":"PROCESSOR","groupId":"e4bece42-2099-3f05-9c8e-cd562b27660d","name":"RouteOnAttribute","comments":""},"destination":{"id":"479fd026-fcf3-302e-83fb-672529d731e4","type":"PROCESSOR","groupId":"e4bece42-2099-3f05-9c8e-cd562b27660d","name":"HandleHttpResponse","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["unmatched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"e4bece42-2099-3f05-9c8e-cd562b27660d"}],"labels":[],"funnels":[],"controllerServices":[{"identifier":"809fa0b8-66cc-3f51-b4e1-d2565df75fcf","name":"StandardHttpContextMap_LIRE","comments":"","type":"org.apache.nifi.http.StandardHttpContextMap","bundle":{"group":"org.apache.nifi","artifact":"nifi-http-context-map-nar","version":"1.15.2"},"controllerServiceApis":[{"type":"org.apache.nifi.http.HttpContextMap","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.15.2"}}],"properties":{"Request Expiration":"1 min","Maximum Outstanding Requests":"5000"},"propertyDescriptors":{"Request Expiration":{"name":"Request Expiration","displayName":"Request Expiration","identifiesControllerService":false,"sensitive":false},"Maximum Outstanding Requests":{"name":"Maximum Outstanding Requests","displayName":"Maximum Outstanding Requests","identifiesControllerService":false,"sensitive":false}},"componentType":"CONTROLLER_SERVICE","groupIdentifier":"e4bece42-2099-3f05-9c8e-cd562b27660d"},{"identifier":"20d72027-c48b-359b-9786-44ecb8e9f14d","name":"StandardHttpContextMap_LIRE","comments":"","type":"org.apache.nifi.http.StandardHttpContextMap","bundle":{"group":"org.apache.nifi","artifact":"nifi-http-context-map-nar","version":"1.15.2"},"controllerServiceApis":[{"type":"org.apache.nifi.http.HttpContextMap","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.15.2"}}],"properties":{"Request Expiration":"1 min","Maximum Outstanding Requests":"5000"},"propertyDescriptors":{"Request Expiration":{"name":"Request Expiration","displayName":"Request Expiration","identifiesControllerService":false,"sensitive":false},"Maximum Outstanding Requests":{"name":"Maximum Outstanding Requests","displayName":"Maximum Outstanding Requests","identifiesControllerService":false,"sensitive":false}},"componentType":"CONTROLLER_SERVICE","groupIdentifier":"e4bece42-2099-3f05-9c8e-cd562b27660d"}],"variables":{},"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","componentType":"PROCESS_GROUP","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE"},"externalControllerServices":{},"parameterContexts":{},"flowEncodingVersion":"1.0"}